body{
    background-color: rgb(15, 30, 37);
    background-image: url("img/forestTexture.jpg");
    background-repeat:no-repeat;
    background-size: 2000px;
}



section{
    background-color: floralwhite;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    padding: 1rem;
}


p{ 
  padding-bottom:2rem;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content:center;

}

.gallery div {
  height: 40vh;
  flex-grow: 1;
  overflow: hidden;
}
/* 
.gallery div:last-child {
  flex-grow: 10;
} */

.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  
}
