

body{
    background-color: rgb(15, 30, 37);
    background-image: url("texture.jpg");
    background-repeat:no-repeat;
    background-size: 2000px;
}
section{
    background-color:floralwhite;
    max-width: 1200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

#banner {
    max-height: 300px;
    overflow-y:hidden;
}

#banner img {
    width: 100%;
}

   


